{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
	{{document.name}}
{% endblock title %}

{% block brand %}
	{{document.name}}
{% endblock brand %}

{% block content %}
	<h3>{{document.title}}</h3>
	<p>{{document.content}}</p>
	<p>Added by: {{document.creator}}</p>
	<p>Added on: {{document.created_date}}</p>
	<p>Last edited: {{document.edited_date}}</p>
	<hr>
	<h4>Communities</h4>

	<ul>
	{% for rating in ratings %}
		{{rating}}
	{% endfor %}
	</ul>
	<hr>
	<h4>Tags</h4>
	{% for tag in tags %}
		{{tag.name}}
	{% endfor %}
	<hr>
	<a class="btn btn-primary" href="{% url 'review_document' document_slug=document.slug %}">Review Document</a>
{% endblock content %}