{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
	{{document.name}}
{% endblock title %}

{% block brand %}
	{{document.name}}
{% endblock brand %}

{% block content %}

	<h3>{{document.title}}</h3>
	<p>{{document.content}}</p>
	<p>Added by: {{document.creator}}</p>
	<p>Added: {{document.created_date}}</p>
	<p>Edited: {{document.edited_date}}</p>
	<hr>
	<h4>Proposed Communities</h4>
	<ul>
	{% for community in communities %}
		<li>{{community.name}}</li>
	{% endfor %}
	</ul>
{% endblock content %}